* {
	margin: 0px;
	padding: 0px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	font-family: "BodoniSvtyTwoOSITCTT-Bold", "Georgia", serif;
	text-rendering: optimizeLegibility;
	
color: #333;
text-shadow: 0 1px 0 white;
background: #F0F0F0;
background-image: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(#DDD));
background-image: -webkit-linear-gradient(top,#EEE,#DDD);
background-image: -moz-linear-gradient(top,#EEE,#DDD);
background-image: -ms-linear-gradient(top,#EEE,#DDD);
background-image: -o-linear-gradient(top,#EEE,#DDD);
background-image: linear-gradient(top,#EEE,#DDD);		
}

	
	
#container {
	width: 640px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: none;
}	

#header h1{
	font-size: 2em;
	/*text-shadow: 0px 1px 0px #000000, 0px -1px 0px #002B5C;*/
	color: #002B5C;
	overflow:visible;
	margin: 0;
	padding-bottom:1%;
	}

#footer {
	text-align: center;
	font-size: 1.4em;
	padding: 3px 20px;
	margin-bottom: 80px;
}

#footer a {
	text-decoration: none;
	/*color: #006CB0;*/
}

#board {
	display: block;
	float: left;
	width: 640px;
	background-color: #fff;
	margin-bottom: 10px;
	box-shadow: 0px 3px #919191;
}

.square, .freesquare {
	display: block;
	float: left;
	overflow: hidden;
	background-color: #fff;
	color: #002B5C;
	text-align: center;
	width: 18.75%;
	height: 120px;
	padding: 3px;
	border: 1px solid #d1d1d1;
	transition-property: background-color;
	transition-duration: .3s;
	-moz-transition-property: background-color;
	-moz-transition-duration: .3s;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: .3s;
}
#sqfree{
background-image:url('../img/monogram.png');
background-size:67% 59%;
background-repeat:no-repeat;
background-position:center; 
	}
.selected {
	color: #f1f1f1;
	background-color: #002B5C;
}

.text {
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Arial, sans-serif;
	vertical-align: middle;
	font-size: 3em;
	line-height: 1.2em;
	margin-top: 25%;
}

.small {
	font-size: 0.8em;
}

.medium {
	font-size: 1.0em;
}

.large {
	font-size: 1.2em;
}

.win {
	color: #002B5C !important;
   	background-color: #B18D03;
	opacity: 1;
}
#netid{ font-weight:bold;}

