* {
	margin: 0px;
	padding: 0px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	font-family: "BodoniSvtyTwoOSITCTT-Bold", "Georgia", serif;
	text-rendering: optimizeLegibility;
	
color: #333;
text-shadow: 0 1px 0 white;
background: #F0F0F0;
background-image: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(#DDD));
background-image: -webkit-linear-gradient(top,#EEE,#DDD);
background-image: -moz-linear-gradient(top,#EEE,#DDD);
background-image: -ms-linear-gradient(top,#EEE,#DDD);
background-image: -o-linear-gradient(top,#EEE,#DDD);
background-image: linear-gradient(top,#EEE,#DDD);		
}

	
	
#container {
	width: 640px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: none;
}	

#header h1{
	font-size: 2em;
	/*text-shadow: 0px 1px 0px #000000, 0px -1px 0px #002B5C;*/
	color: #002B5C;
	overflow:visible;
	margin: 0;
	padding-bottom:1%;
	}
#footer {
	text-align: center;
	font-size: 1.4em;
	padding: 3px 20px;
	margin-bottom: 80px;
}

#footer a {
	text-decoration: none;
	/*color: #006CB0;*/
}

#board {
	display: block;
	float: left;
	width: 640px;
	background-color: #fff;
	margin-bottom: 10px;
	box-shadow: 0px 3px #919191;
}

.square, .freesquare {
	display: block;
	float: left;
	overflow: hidden;
	background-color: #fff;
	color: #002B5C;
	text-align: center;
	width: 18.75%;
	height: 120px;
	padding: 3px;
	border: 1px solid #d1d1d1;
	transition-property: background-color;
	transition-duration: 1s;
	-moz-transition-property: background-color;
	-moz-transition-duration: 1s;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 1s;
}
#sqfree{
background-image:url('../img/monogram.png');
background-size:67% 59%;
background-repeat:no-repeat;
background-position:center; 
	}
.selected {
	color: #f1f1f1;
	background-color: #002B5C;
}

.text {
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Arial, sans-serif;
	vertical-align: middle;
	font-size: 3em;
	line-height: 1.2em;
	margin-top: 25%;
}

.small {
	font-size: 0.8em;
}

.medium {
	font-size: 1.0em;
}

.large {
	font-size: 1.2em;
}

.win {
	color: #002B5C !important;
   	background-color: #B18D03;
	opacity: 1;
}
#netid{ font-weight:bold;}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

	#container {
		width: 320px;
		/*margin: -7px 0px 0px -7px;*/
	}
#header h1{
	font-size: 1.8em;
	}	

#board {

	width: 320px;
	margin-bottom: 0px;
}
.square, .freesquare {
	width:17.5%;
	height: 56px;
}

	.text {
		line-height: 1em;
		font-size: 1.8em;
	}
	
#footer {
	text-align: left;
	padding: 5px 0 5px 0;
	margin-left:-5px;
	margin-bottom: 10px;
}

}


@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) {

	#container {
		width: 360px;
		/*margin: -7px 0px 0px -7px;*/
	}
#header h1{
	font-size: 1.8em;
	}	
#board {

	width: 320px;
}
.square, .freesquare {
	width:17.5%;
	height: 56px;
}


	#footer, #rulesfooter {	
		padding: 16px 20px 8px 20px;
		font-size: 2.0em;
	}

	.text {
		line-height: 1em;
		font-size: 1.8em;
	}
	


}

#rotate-overlay {display: none;}

/* iPhone(portrait) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {

 	#rotate-overlay{ background: rgba(0,0,0,0.75);   width: 480px; height: 100%; z-index: 10000000;  position:absolute; top: 0; left: 0; display: block;}
	.rotate-overlay-modal {   width: 320px; text-align:center;  height: 230px; margin-top: 50%;  padding: 20px; line-height: 1.6em;}
	.rotate-overlay-modal h3 {margin: 40px; font-size: 1.7em; color: #FFF;}
	.rotate-overlay-modal p {margin-bottom: 17px;}
}